.contenedor{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    grid-template-rows: 250px 50px 800px 50px;
    grid-template-areas: 
    'cab cab cab'
    'link link link'
    'sec1 sec2 sec3'
    'pie pie pie';
}
header{
    grid-area: cab;
}
main{
    grid-area: link;
    background-color: blue;
    color: white;
    text-align: center;
}
body{
    font-family: cursive;
}
#sec1{
    grid-area: sec1;
    background-color: rgb(133, 0, 0);
    color: white;
}
#sec2{
    grid-area: sec2;
    background-color: rgb(0, 0, 100);
    color: white;
    text-align: center;
}
#sec3{
    grid-area: sec3;
    background-color: rgb(133, 0, 0);
    color: white;
}
footer{
    grid-area: pie;
    background-color: black;
    color: white;
    text-align: center;
}
.bann{
    height: 100%;
    width: 100%;
}
li, a{
    display: inline;
    color: white;
    text-decoration: none;
}
img{
    height: 800px;
    width: 800px;
}